body {
    background: hsl(212, 45%, 89%);
    font-family: "Outfit", serif;
    position: relative;
    top: 120px;
}

.attribution {
    width: 250px;
    height: 400px;
    font-size: 11px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: auto;

}

.qr-code {
    border-radius: 15px;
    width: 220px;
    height: 220px;
    margin-top: 15px;
}


h2 {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    padding-bottom: 10px;
    font-weight: normal;
}